# Dataset zip file
archive.zip

# Dataset
archive/

# Extracted features
extracted_features/

# Prepared dataset from extraction
prepared_data.npz

# MediaPipe model file
*.task

# Jupyter checkpoints
.ipynb_checkpoints/

# Python
__pycache__/
*.pyc
*.pyo

# OS
.DS_Store
Thumbs.db
